.accessories {
  &__title {
    position: relative;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
  }
  &__img {
    max-width: 186px;
    max-height: 186px;
    object-fit: contain;
    margin-bottom: 12px;
  }
  &__name {
    text-align: center;
    color: #ff4a32;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 18px;
  }
  &__price {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }
  &__old-price {
    color: #ff2121;
  }
  &__sold-out {
    opacity: 30%;
  }
  &__new-price {
    color: #000;
  }
}
li:first-child {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 55%;
    left: 0;
    width: 19px;
    height: 19px;
    border: 1px solid #000;
    border-radius: 22px;
    background-image: url(../../../images/dist/accessories_left-arrow.svg);
  }
}
li:not(:last-child) {
  margin-right: 20px;
}
ul {
  position: relative;
  margin-bottom: 4px;
}
.arrow-circle {
  position: absolute;
  height: 44px;
  width: 44px;
  top: 50%;
  border: 1px solid #fff;
  border-radius: 22px;
  background-color: #fff;
  opacity: 0.75;
  &::after {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    background-image: url(../../../images/dist/accessories_left-arrow.svg);
    top: 13px;
    left: 13px;
  }
}
.arrow-circle--right {
  right: 10px;
  transform: rotate(180deg);
}
