@import "variable.scss";

.eboard {
  &__wrapper {
    width: 1440px;
    height: 736px;
    margin-bottom: 44px;
    background-image: url(../images/dist/eboard_bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__header {
    max-width: 488px;
    margin: 0 auto;
    padding-top: 44px;
    align-items: center;
    text-align: center;
  }
  &__subtitle,
  &__text {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 11px;
    line-height: 19px;
  }

  &__title {
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &__text {
    margin-bottom: 20px;
  }
}

.btn--eboard {
  font-size: 15px;
  font-weight: 700;
  padding: 5px 66px;
}
