.hero__bg {
  background-image: url(../images/dist/hero_bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 810px;
}

.hero__header {
  text-align: center;
  padding-top: 45px;
}

.hero {
  &__title {
    margin-bottom: 13px;
    font-size: 44px;
    line-height: 51px;
    font-weight: 400;
    color: $color-text;
  }

  &__subtitle {
    font-size: 15px;
    letter-spacing: 1px;
    color: $color-text;
    font-weight: 400;
    margin-bottom: 22px;
  }

  &__btns {
    display: flex;
    justify-content: center;
  }
}

.btn {
  display: inline-block;
  border: 1px solid #ff4a32;
  border-radius: 35px;
  color: #fff;
  background-color: #ff4a32;
}
.btn--rev {
  padding: 5px 45px;
  margin-right: 12px;
}

.btn--board {
  padding: 5px 34px;
}
