.shop {
  &__wrapper {
    display: flex;
    margin-bottom: 55px;
  }
  &__img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1 1 33.3%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 480px;
  }
  &__img--stealth {
    background-image: url(../images/src/shop_stealth.jpg);
  }
  &__img--plus {
    background-image: url(../images/src/shop_plus.jpg);
  }
  &__img--mini {
    background-image: url(../images/src/shop_mini.jpg);
  }
  &__text {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
    color: #fff;
  }

  &__instock {
    font-size: 18px;
    line-height: 23.5px;
    font-weight: 400;
    color: #fff;
  }
}
